<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>إدارة الفواتير</title>
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: url('https://www.transparenttextures.com/patterns/geometry.png') repeat;
        }

        .container {
            margin-top: 30px;
        }

        .header-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .modal-container {
            max-width: 600px;
            margin: auto;
        }

        .table th, .table td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header-title">
        <h2>إدارة الفواتير</h2>
    </div>
    <a href="{{ url_for('add_invoice') }}" class="btn btn-success float-right mb-3">إضافة فاتورة جديدة</a>
    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th>رقم الفاتورة</th>
            <th>العميل</th>
            <th>التاريخ</th>
            <th>الإجمالي</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr class="clickable-row" data-href="{{ url_for('view_invoice', id=invoice.id) }}">
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.client.name }}</td>
                <td>{{ invoice.date_created }}</td>
                <td>${{ invoice.total_amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home') }}" class="btn btn-success mb-3">الذهاب إلى الصفحة الرئيسية</a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var rows = document.querySelectorAll('.clickable-row');
        rows.forEach(function (row) {
            row.addEventListener('click', function () {
                window.location.href = this.getAttribute('data-href');
            });
        });
    });
</script>
</body>
</html>
