<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>إدارة الإرجاعات</title>
    <style>
        body {
            background: url('https://www.transparenttextures.com/patterns/geometry.png') repeat;
        }
    </style>
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">إدارة الإرجاعات</h1>
    <a href="{{ url_for('add_return') }}" class="btn btn-success mb-3">إضافة إرجاع جديد</a>
    <table class="table table-hover table-dark table-striped">
        <thead>
        <tr>
            <th>معرف الإرجاع</th>
            <th>رقم الفاتورة</th>
            <th>اسم العنصر</th>
            <th>الكمية</th>
            <th>المبلغ المعاد</th>
            <th>التاريخ</th>
        </tr>
        </thead>
        <tbody>
        {% for return in returns %}
            <tr>
                <td>{{ return.id }}</td>
                <td>{{ return.invoice_id }}</td>
                <td>{{ return.item_name }}</td>
                <td>{{ return.amount }}</td>
                <td>${{ return.amount_returned }}</td>
                <td>{{ return.date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home') }}" class="btn btn-primary mb-3">العودة إلى الصفحة الرئيسية</a>
</div>
</body>
</html>
